html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Denk One", sans-serif;
  text-align: left;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #f5f2f0;
}

h1 {
  color: #623b0c;
  text-align: left;
}
main {
  margin: 1rem;
  color: #ede3db;
}

h2 {
  color: #623b0c;
  font-size: 1rem;
  text-align: left;
}

p {
  color: #000000;
  font-family: serif;
  text-align: left;
  padding: .5em 1em .2em;
  font-size: .7rem;
}

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

ol > li {
  border: 3px solid #623b0c;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h2 + img {
  max-width: 15em;
  text-align: left;
}

ol li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

li a {
  font-family: serif;
  font-size: .7rem;
  color: #623b0c;
}

img {
  size: 100%;
  margin-left: 0;
}
